.button {
  background-color: transparent;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // height: max-content;
  &:hover .onHover {
    opacity: 1;
    width: 115%;
    height: 115%;
  }
  &:active .onHover {
    background-color: rgba(108, 108, 108, 0.366);
    border-color: rgba(128, 128, 128, 0.645);
  }
  .content {
    position: relative;
    z-index: 3;
  }
  .onHover {
    transition: all 0.2s ease-out, border 0.25s ease-in;
    border: 1px solid transparent;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: rgba(128, 128, 128, 0.268);
    z-index: 1;
    border-radius: 45px;
  }
}
