.field {
  width: 100%;
  &_input {
    padding: 8px 10px;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
  }
  &_error {
    color: rgb(255, 69, 69);
    height: 14px;
    font-size: 14px;
  }
}
