.product {
  padding: 50px 60px;
  &_container {
    display: flex;
    gap: 5%;
  }
  &_imgWrapper {
    width: 40%;
  }
  &_info {
    width: 55%;
  }
  &_flex {
    display: flex;
    gap: 22px;
    align-items: center;
    margin-bottom: 15px;
  }
  &_price {
    font-weight: 500;
    font-size: 20px;
  }
  &_title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &_desc {
    font-size: 14px;
    margin-bottom: 15px;
  }
  &_cat {
    display: inline-block;
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(255, 217, 147);
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 2px rgb(227, 227, 227);
  }
  &_props {
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 3px 2px rgb(227, 227, 227);
    background-color: rgb(179, 255, 179);
  }
  &_prop {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
