.btn {
  border-radius: 10px;
  padding: 10px 20px;
  transition: 0.3s;
  display: flex;
  gap: 6px;
  height: 40px;
  align-items: center;
  background-color: rgb(212, 212, 255);
  border: 1px solid transparent;
  &:hover {
    background-color: rgb(233, 233, 255);
    border: 1px solid rgb(132, 132, 255);
  }
  &:active {
    transform: scale(0.95);
  }
}
.count {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgb(162, 162, 255);
}
