.cartFormModal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 800;
  background-color: rgba(0, 0, 0, 0.356);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
  &_open {
    opacity: 1;
  }
}
