.latestproducts {
  width: 100%;
  background-color: rgb(222, 222, 222);
  padding: 10px 20px;
  &_title {
    color: rgb(54, 54, 54);
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &_products {
    padding: 10px;
    // height: 200px;
    display: flex;

    // align-items: center;
    // justify-content: center;
    gap: 20px;
    overflow: hidden;
  }
}
